In [23]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine #used for communicating with SQL Server
from config import db_password #import password for Postgres

from uszipcode import SearchEngine, SimpleZipcode, ComprehensiveZipcode

In [24]:
# Removes the limit for the number of displayed columns
pd.set_option("display.max_columns", None)
# Sets the limit for the number of displayed rows
pd.set_option("display.max_rows", 250)

In [25]:
# import sys
# !{sys.executable} -m pip install uszipcode

In [26]:
# import sys
# !{sys.executable} -m pip install python-Levenshtein

In [27]:
# import sys
# !{sys.executable} -m pip install zipcode

In [28]:
# from uszipcode import SearchEngine

In [29]:
# pip install uszipcode

# Getting all address information & zipcodes for all the animals

In [30]:
zipcodes_df = pd.read_csv('./all_data.csv')
zipcodes_df=zipcodes_df[zipcodes_df.zipcode.notnull()]

zipcodes_df["zipcode"] = zipcodes_df["zipcode"].apply(np.int64)

In [31]:
zipcodes_df.dtypes

Index_ID                           object
Address from CSV                   object
If match or not                    object
Unnamed: 3                         object
Geo coded Address with zipcode     object
zipcode                             int64
Longitude                          object
Latitude                          float64
Tigerline ID Side                  object
STATE CODE:                       float64
COUNTY CODE                       float64
TRACT CODE                        float64
BLOCK CODE                        float64
dtype: object

# Getting all the distinct zipcodes, to find the demographic details

In [32]:
zipcodes = zipcodes_df["zipcode"].unique()
# Removing nans in zipcode
data = [x for x in zipcodes if pd.isnull(x) == False]
print(data)

[78724, 78660, 78747, 78732, 78728, 78741, 78735, 78746, 78751, 78744, 78745, 78759, 78704, 78722, 78702, 78754, 78723, 78719, 78753, 78736, 78757, 78641, 78752, 78731, 78729, 78748, 78742, 78725, 78758, 78727, 78738, 78756, 78703, 78645, 78721, 78705, 78653, 78749, 78750, 78717, 78730, 78726, 78610, 78701, 78739, 78734, 78733, 78681, 78737, 78712, 78621, 78767, 78602]

### To get the demographic data, python package Uszipcode 
####  https://pypi.org/project/uszipcode/
#### Above package gives static statistic data are from Census 2010. Demographic statistics over time has data utill 2020.

In [33]:

# Create a demographic DataFrame with zipcodes.

demographic_df = pd.DataFrame(data,columns=["zipcode"])
major_city1 = []
county1 = []
state1 = []
population1 = []
population_density1 = []
land_area_in_sqmi1 = []
housing_units1 = []
median_home_value1 = []
median_household_income1 = []
population_by_age1 = []
population_by_gender1 = []
population_by_race1 = []
educational_attainment_for_population_25_and_over1 = []
school_enrollment_age_3_to_17_1 = []

In [34]:
demographic_df.head()

   zipcode
0    78724
1    78660
2    78747
3    78732
4    78728

######  Demographic data is seperated into SimpleZipcode and ComprehensiveZipcode. ComprehensiveZipcode gives us data into json format to give more categorical information for each of the following -
1. population_by_age
2. population_by_gender 
3. population_by_race 
4. educational_attainment_for_population_25_and_over1 
5. school_enrollment_age_3_to_17

In [35]:
search = SearchEngine()

search = SearchEngine(simple_or_comprehensive=SearchEngine.SimpleOrComprehensiveArgEnum.comprehensive)
for i in np.arange(0, len(demographic_df["zipcode"])):
    zipcode = search.by_zipcode(demographic_df["zipcode"][i])

    # Checking for non std postal codes
    # Demographic info in std postal codes
    if not zipcode.population:
        # Checking for non std zipcodes like postal boxes
        res = search.by_city_and_state(city=zipcode.major_city, state=zipcode.state)
        if (len(res)) > 0:
            zipcode = res[0]
            
    major_city1.append(zipcode.major_city)
    county1.append(zipcode.county)
    state1.append(zipcode.state)
    population1.append(zipcode.population)
    population_density1.append(zipcode.population_density)
    land_area_in_sqmi1.append(zipcode.land_area_in_sqmi)
    housing_units1.append(zipcode.housing_units)
    median_household_income1.append(zipcode.median_household_income)
    population_by_age1.append(zipcode.population_by_age)
    population_by_gender1.append(zipcode.population_by_gender)
    population_by_race1.append(zipcode.population_by_race)
    educational_attainment_for_population_25_and_over1.append(zipcode.educational_attainment_for_population_25_and_over)
    school_enrollment_age_3_to_17_1.append(zipcode.school_enrollment_age_3_to_17)



demographic_df["major_city"] = major_city1

demographic_df["county"] = county1

demographic_df["state"] = state1

demographic_df["population"] = population1

demographic_df["population_density"] = population_density1

demographic_df["land_area_in_sqmi"] = land_area_in_sqmi1

demographic_df["housing_units"] = housing_units1

demographic_df["median_household_income"] = median_household_income1

demographic_df["population_by_age"] = population_by_age1

demographic_df["population_by_gender"] = population_by_gender1

demographic_df["population_by_race"] = population_by_race1

demographic_df["educational_attainment_for_population_25_and_over"]  = educational_attainment_for_population_25_and_over1

demographic_df["school_enrollment_age_3_to_17"] = school_enrollment_age_3_to_17_1

In [36]:
demographic_df.head()

,zipcode,major_city,county,state,population,population_density,land_area_in_sqmi,housing_units,median_household_income,population_by_age,population_by_gender,population_by_race,educational_attainment_for_population_25_and_over,school_enrollment_age_3_to_17
0,78724,Austin,Travis County,TX,21696,889.0,24.40,6138,38479,"[{'key': 'Male', 'values': [{'x': 0, 'y': 1163...","[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Less Than H...","[{'key': 'Data', 'values': [{'x': 'Enrolled In..."
1,78660,Pflugerville,Travis County,TX,68789,1519.0,45.30,23950,76007,"[{'key': 'Male', 'values': [{'x': 0, 'y': 2928...","[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Less Than H...","[{'key': 'Data', 'values': [{'x': 'Enrolled In..."
2,78747,Austin,Travis County,TX,14808,623.0,23.78,5491,61599,"[{'key': 'Male', 'values': [{'x': 0, 'y': 599}...","[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Less Than H...","[{'key': 'Data', 'values': [{'x': 'Enrolled In..."
3,78732,Austin,Travis County,TX,14060,1061.0,13.25,5033,131216,"[{'key': 'Male', 'values': [{'x': 0, 'y': 771}...","[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Less Than H...","[{'key': 'Data', 'values': [{'x': 'Enrolled In..."
4,78728,Austin,Travis County,TX,20299,2503.0,8.11,10240,48612,"[{'key': 'Male', 'values': [{'x': 0, 'y': 883}...","[{'key': 'Data', 'values': [{'x': 'Male', 'y':...","[{'key': 'Data', 'values': [{'x': 'White', 'y'...","[{'key': 'Data', 'values': [{'x': 'Less Than H...","[{'key': 'Data', 'values': [{'x': 'Enrolled In..."

In [37]:
demographic_df.to_csv("demographic_details.csv")

## Create a connection to Postgres using sqlalchemy

In [38]:
#Create a connection string for PostgreSQL
"postgresql://[user]:[password]@[location]:[port]/[database]"
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/AAC"

In [39]:
#create a database engine
engine = create_engine(db_string)

In [40]:
zipcodes_df.count()

Index_ID                          22625
Address from CSV                  22625
If match or not                   22625
Unnamed: 3                        22625
Geo coded Address with zipcode    22625
zipcode                           22625
Longitude                         22625
Latitude                          22625
Tigerline ID Side                 22625
STATE CODE:                       22625
COUNTY CODE                       22625
TRACT CODE                        22625
BLOCK CODE                        22625
dtype: int64

In [41]:
# remove spaces in columns name
zipcodes_df.columns = zipcodes_df.columns.str.replace(' ','_')
zipcodes_df.columns = zipcodes_df.columns.str.lower()
zipcodes_df.count()

index_id                          22625
address_from_csv                  22625
if_match_or_not                   22625
unnamed:_3                        22625
geo_coded_address_with_zipcode    22625
zipcode                           22625
longitude                         22625
latitude                          22625
tigerline_id_side                 22625
state_code:                       22625
county_code                       22625
tract_code                        22625
block_code                        22625
dtype: int64

In [42]:
zipcodes_df.to_sql(name='zipcodes_df', con=engine, if_exists='replace')

In [43]:
census_df = pd.read_csv('./demographic_details.csv')

In [ ]:
census_df.to_sql(name='census_df', con=engine, if_exists='replace')