In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine #used for communicating with SQL Server
from config import db_password #import password for Postgres

In [2]:
# Importing the Austin Animal Center Intake data from a csv into a dataframe

file_path = "../Resources/Austin_Animal_Center_Intakes.csv"
intake_df = pd.read_csv(file_path,low_memory=False)
intake_df.head(5)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A857105,Johnny Ringo,05/12/2022 12:23:00 AM,May 2022,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby

In [3]:
# Copying the dataframe into a new dataframe so that it can be transformed with addtional data.

df2 = intake_df.copy()
df2.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A857105,Johnny Ringo,05/12/2022 12:23:00 AM,May 2022,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby

In [4]:
# Splitting the Age upon intake column into two columns 0 & 1 containing the number and the unit.

d = {'months': 31, 'years':365, 'days':1,'weeks':7,'month': 31, 'year':365,'day':1,'week':7}
df3=df2['Age upon Intake'].str.extract('(\d+)\s+(years|months|weeks|days|year|month|week|day)', expand=True)

In [5]:
df3.head()

    0       1
0   2   years
1   8   years
2  11  months
3   4   weeks
4   2   years

In [6]:
# Here mapping the above data so that we can get Age Upon Intake in days


intake_df['Age Upon Intake(days)'] = df3[0].astype(float).mul(df3[1].map(d)).astype('Int64').astype(str)
#df2['age_upon_intake(days)'] = df3[0].astype(float).mul(df3[1].map(d)).astype('Int64')
df2['Unit'] = np.where(df3[1].isin(['years','months', 'days','weeks']), ' days', ' ' + df3[1])


intake_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Age Upon Intake(days)
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,730
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2920
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,341
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,28
4,A857105,Johnny Ringo,05/12/2022 12:23:00 AM,May 2022,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby,730

In [7]:
intake_df.dtypes

Animal ID                object
Name                     object
DateTime                 object
MonthYear                object
Found Location           object
Intake Type              object
Intake Condition         object
Animal Type              object
Sex upon Intake          object
Age upon Intake          object
Breed                    object
Color                    object
Age Upon Intake(days)    object
dtype: object

In [8]:
intake_df.count()

Animal ID                143841
Name                     101656
DateTime                 143841
MonthYear                143841
Found Location           143841
Intake Type              143841
Intake Condition         143841
Animal Type              143841
Sex upon Intake          143840
Age upon Intake          143841
Breed                    143841
Color                    143841
Age Upon Intake(days)    143841
dtype: int64

In [9]:
# Dropping Name column from the dataframe.

intake_df=intake_df.drop('Name',axis=1)

In [10]:
# Checking if the mapping to convert the age upon intake into days was successful and there are no NA 
#or not applicable values

intake_df[intake_df['Age Upon Intake(days)'] == '<NA>']

#Converting the Days into integer
intake_df['Age Upon Intake(days)']=intake_df['Age Upon Intake(days)'].astype(int)

In [11]:
# Calculating the age upon intake in Years

intake_df['Age Upon Intake(years)'] = round(intake_df['Age Upon Intake(days)']/365,2)
intake_df.head()

,Animal ID,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Age Upon Intake(days),Age Upon Intake(years)
0,A786884,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,730,2.00
1,A706918,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2920,8.00
2,A724273,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,341,0.93
3,A665644,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,28,0.08
4,A857105,05/12/2022 12:23:00 AM,May 2022,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby,730,2.00

In [12]:
# Adding age groups bins of intake animals
age_bins = [0,2.5,5,7.5,10,12.5,15,17.5,20,22.5,25,27.5,30]
intake_df['Age Range']= pd.cut(intake_df['Age Upon Intake(years)'],age_bins, include_lowest=True)
intake_df.head(2)

,Animal ID,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Age Upon Intake(days),Age Upon Intake(years),Age Range
0,A786884,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,730,2.0,"(-0.001, 2.5]"
1,A706918,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2920,8.0,"(7.5, 10.0]"

In [13]:
# checking the datatypes for the intake dataframe
intake_df.dtypes

Animal ID                   object
DateTime                    object
MonthYear                   object
Found Location              object
Intake Type                 object
Intake Condition            object
Animal Type                 object
Sex upon Intake             object
Age upon Intake             object
Breed                       object
Color                       object
Age Upon Intake(days)        int32
Age Upon Intake(years)     float64
Age Range                 category
dtype: object

In [14]:
# Using datetime series getting the data for Intake Month , Intake year , Intake day name , intake hour.

series= intake_df['DateTime']

sr = pd.to_datetime(series)

intake_df['Intake Month'] = sr.dt.month
intake_df['Intake Year']=sr.dt.year
intake_df['Intake Weekday'] = sr.dt.day_name()
intake_df['Intake Hour'] = sr.dt.hour

In [15]:
# Checking for data where intake_condition is in 'Sick','Medical','Feral','Agonal','Med Attn','Panleuk'

intake_condition = ['Sick','Medical','Feral','Agonal','Med Attn','Panleuk']
intake_df.loc[intake_df['Intake Condition'].isin(intake_condition)].count()

Animal ID                 6562
DateTime                  6562
MonthYear                 6562
Found Location            6562
Intake Type               6562
Intake Condition          6562
Animal Type               6562
Sex upon Intake           6562
Age upon Intake           6562
Breed                     6562
Color                     6562
Age Upon Intake(days)     6562
Age Upon Intake(years)    6562
Age Range                 6562
Intake Month              6562
Intake Year               6562
Intake Weekday            6562
Intake Hour               6562
dtype: int64

In [16]:
# Checking for data where intake_condition is in 'Euthanasia Request','Wildlife'


intake_type = ['Euthanasia Request','Wildlife']
intake_df.loc[intake_df['Intake Type'].isin(intake_type)].count()

Animal ID                 5803
DateTime                  5803
MonthYear                 5803
Found Location            5803
Intake Type               5803
Intake Condition          5803
Animal Type               5803
Sex upon Intake           5803
Age upon Intake           5803
Breed                     5803
Color                     5803
Age Upon Intake(days)     5803
Age Upon Intake(years)    5803
Age Range                 5803
Intake Month              5803
Intake Year               5803
Intake Weekday            5803
Intake Hour               5803
dtype: int64

In [17]:
# Removing the rows where Intake_type = 'Wildlife' to avoid skewed data.
intake_df=intake_df[intake_df['Intake Type']!= 'Wildlife']

In [18]:
# To get the cummulative frequency and the order of intake of the same Animal ID we need to convert the 
# DateTime column from Object type to into Datetime format
intake_df["DateTime"] = pd.to_datetime(intake_df["DateTime"])
intake_df.dtypes

Animal ID                         object
DateTime                  datetime64[ns]
MonthYear                         object
Found Location                    object
Intake Type                       object
Intake Condition                  object
Animal Type                       object
Sex upon Intake                   object
Age upon Intake                   object
Breed                             object
Color                             object
Age Upon Intake(days)              int32
Age Upon Intake(years)           float64
Age Range                       category
Intake Month                       int64
Intake Year                        int64
Intake Weekday                    object
Intake Hour                        int64
dtype: object

In [19]:
# Sorting the dataframe based on the Animal ID and DateTime columns 

intake_df = intake_df.sort_values(by=['Animal ID','DateTime'], ascending = [True, True])
intake_df.head(3)

,Animal ID,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Age Upon Intake(days),Age Upon Intake(years),Age Range,Intake Month,Intake Year,Intake Weekday,Intake Hour
99104,A006100,2014-03-07 14:26:00,March 2014,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White,2190,6.0,"(5.0, 7.5]",3,2014,Friday,14
4716,A006100,2014-12-19 10:21:00,December 2014,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White,2555,7.0,"(5.0, 7.5]",12,2014,Friday,10
21962,A006100,2017-12-07 14:07:00,December 2017,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White,3650,10.0,"(7.5, 10.0]",12,2017,Thursday,14

In [20]:
# Getting the Unique count of the Intake Frequency to 

intake_df['Intake Frequency'] = intake_df.groupby('Animal ID')['Animal ID'].transform('count')
intake_df['Intake Frequency'].unique()

array([ 3,  1,  2,  5,  4,  6,  7,  9,  8, 11, 14, 12, 33], dtype=int64)

In [21]:
intake_df.head(4)

,Animal ID,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Age Upon Intake(days),Age Upon Intake(years),Age Range,Intake Month,Intake Year,Intake Weekday,Intake Hour,Intake Frequency
99104,A006100,2014-03-07 14:26:00,March 2014,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White,2190,6.0,"(5.0, 7.5]",3,2014,Friday,14,3
4716,A006100,2014-12-19 10:21:00,December 2014,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White,2555,7.0,"(5.0, 7.5]",12,2014,Friday,10,3
21962,A006100,2017-12-07 14:07:00,December 2017,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White,3650,10.0,"(7.5, 10.0]",12,2017,Thursday,14,3
77010,A047759,2014-04-02 15:55:00,April 2014,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor,3650,10.0,"(7.5, 10.0]",4,2014,Wednesday,15,1

In [22]:
# add incremental value for duplicates Animal ID's but in the order of the day/time they were recieved.

intake_df["Order of Intake"] =intake_df.groupby(['Animal ID'])['Animal ID'].transform('cumcount')+1
intake_df["Order of Intake"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33],
      dtype=int64)

In [23]:

#Checking for a sample Animal ID = 'A462580' which came 6 times,results are sorted in ascending order of the day/time.

intake_df[intake_df['Animal ID']=='A462580']

,Animal ID,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Age Upon Intake(days),Age Upon Intake(years),Age Range,Intake Month,Intake Year,Intake Weekday,Intake Hour,Intake Frequency,Order of Intake
85951,A462580,2014-12-04 10:11:00,December 2014,8401 Kimble Cv in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Pit Bull,Brown Brindle/White,3650,10.0,"(7.5, 10.0]",12,2014,Thursday,10,6,1
124226,A462580,2014-12-17 23:36:00,December 2014,N Lamar & Longsour in Austin (TX),Public Assist,Normal,Dog,Neutered Male,10 years,Pit Bull,Brown Brindle/White,3650,10.0,"(7.5, 10.0]",12,2014,Wednesday,23,6,2
46345,A462580,2015-07-20 23:36:00,July 2015,1200 E 52Nd St in Austin (TX),Public Assist,Normal,Dog,Neutered Male,10 years,Pit Bull,Brown Brindle/White,3650,10.0,"(7.5, 10.0]",7,2015,Monday,23,6,3
103716,A462580,2015-08-20 00:02:00,August 2015,300 Croslin St in Austin (TX),Public Assist,Normal,Dog,Neutered Male,10 years,Pit Bull,Brown Brindle/White,3650,10.0,"(7.5, 10.0]",8,2015,Thursday,0,6,4
138732,A462580,2015-09-19 15:10:00,September 2015,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Pit Bull,Brown Brindle/White,3650,10.0,"(7.5, 10.0]",9,2015,Saturday,15,6,5
25898,A462580,2015-12-30 10:27:00,December 2015,2400 Audubon in Austin (TX),Public Assist,Normal,Dog,Neutered Male,11 years,Pit Bull,Brown Brindle/White,4015,11.0,"(10.0, 12.5]",12,2015,Wednesday,10,6,6

In [24]:
intake_df.count()

Animal ID                 138297
DateTime                  138297
MonthYear                 138297
Found Location            138297
Intake Type               138297
Intake Condition          138297
Animal Type               138297
Sex upon Intake           138296
Age upon Intake           138297
Breed                     138297
Color                     138297
Age Upon Intake(days)     138297
Age Upon Intake(years)    138297
Age Range                 138297
Intake Month              138297
Intake Year               138297
Intake Weekday            138297
Intake Hour               138297
Intake Frequency          138297
Order of Intake           138297
dtype: int64

In [25]:
# remove spaces in columns name
intake_df.columns = intake_df.columns.str.replace(' ','_')
intake_df.columns = intake_df.columns.str.lower()
intake_df.count()

animal_id                 138297
datetime                  138297
monthyear                 138297
found_location            138297
intake_type               138297
intake_condition          138297
animal_type               138297
sex_upon_intake           138296
age_upon_intake           138297
breed                     138297
color                     138297
age_upon_intake(days)     138297
age_upon_intake(years)    138297
age_range                 138297
intake_month              138297
intake_year               138297
intake_weekday            138297
intake_hour               138297
intake_frequency          138297
order_of_intake           138297
dtype: int64

In [26]:
intake_df=intake_df.rename({'animal_id':'animal_id_intake', 'datetime':'datetime_intake',
                  'monthyear':'monthyear_intake', 'animal_type':'animal_type_intake',
                  'breed':'breed_intake','color':'color_intake','age_range':'age_range_intake'
                  },axis=1)
intake_df.count()

animal_id_intake          138297
datetime_intake           138297
monthyear_intake          138297
found_location            138297
intake_type               138297
intake_condition          138297
animal_type_intake        138297
sex_upon_intake           138296
age_upon_intake           138297
breed_intake              138297
color_intake              138297
age_upon_intake(days)     138297
age_upon_intake(years)    138297
age_range_intake          138297
intake_month              138297
intake_year               138297
intake_weekday            138297
intake_hour               138297
intake_frequency          138297
order_of_intake           138297
dtype: int64

In [28]:

intake_df.to_csv('../Resources/AAC_Intake_etl.csv',index=True,index_label='index_id_intake',encoding='utf-8')

## Create a connection to Postgres using sqlalchemy

In [29]:
#read csv file
intake_df = pd.read_csv("../Resources/AAC_Intake_etl.csv")

In [30]:
#Create a connection string for PostgreSQL
#"postgresql://[user]:[password]@[location]:[port]/[database]"
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/AAC"

In [31]:
#create a database engine
engine = create_engine(db_string)

In [32]:
intake_df.to_sql(name='intake_df', con=engine, if_exists='replace')