In [1]:
import pandas as pd

In [3]:
file1 = "../Resources/Demographics_separated_columns.csv"
file2 = "../Resources/acc_intake_outcome.csv"
demographics = pd.read_csv(file1)
shelter = pd.read_csv(file2)

In [4]:
demographics.head()

,Unnamed: 0,zipcode,major_city,county,state,population,population_density,land_area_in_sqmi,housing_units,median_household_income,...,Masters_degree,Professional_school_degree,Doctorate_degree,Race_white,Race_black_African_American,Race_American_Indian_Alaskan_native,Race_Asian,Race_Native_Hawaiian_Pacific_Islander,Race-Other,Race_Two_or_more
0,0,78724,Austin,Travis County,TX,21696,889,24.40,6138,38479,...,245,18,71,8339,6167,239,100,6,6165,680
1,1,78660,Pflugerville,Travis County,TX,68789,1519,45.30,23950,76007,...,4151,282,402,42256,10731,452,5723,85,6942,2600
2,2,78747,Austin,Travis County,TX,14808,623,23.78,5491,61599,...,406,133,118,9664,1052,183,351,12,2998,548
3,3,78732,Austin,Travis County,TX,14060,1061,13.25,5033,131216,...,1914,466,462,11767,239,42,1379,5,239,389
4,4,78728,Austin,Travis County,TX,20299,2503,8.11,10240,48612,...,1475,199,138,12596,2843,137,1976,25,1848,874

In [5]:
# Drop columns in demographics DF
demographics = demographics.loc[:, ~demographics.columns.str.contains('^Unnamed')]

demographics.head(3)

,zipcode,major_city,county,state,population,population_density,land_area_in_sqmi,housing_units,median_household_income,Male_Population,...,Masters_degree,Professional_school_degree,Doctorate_degree,Race_white,Race_black_African_American,Race_American_Indian_Alaskan_native,Race_Asian,Race_Native_Hawaiian_Pacific_Islander,Race-Other,Race_Two_or_more
0,78724,Austin,Travis County,TX,21696,889,24.40,6138,38479,11181,...,245,18,71,8339,6167,239,100,6,6165,680
1,78660,Pflugerville,Travis County,TX,68789,1519,45.30,23950,76007,33565,...,4151,282,402,42256,10731,452,5723,85,6942,2600
2,78747,Austin,Travis County,TX,14808,623,23.78,5491,61599,7345,...,406,133,118,9664,1052,183,351,12,2998,548

In [6]:
#Rename zipcode_intake to zipcode df.rename(columns={"A": "a", "B": "c"})

shelter.rename(columns = {"zipcode_intake":"zipcode"}, inplace = True)

In [7]:
# Drop rows without zip codes
shelter = shelter.dropna(axis=0, subset=['zipcode'])

In [8]:
# Merge two DF 

animal_demo_df = shelter.merge(demographics, on= "zipcode")
animal_demo_df.head()

,index_id_intake,animal_id_intake,datetime_intake,monthyear_intake,found_location,intake_type,intake_condition,animal_type_intake,sex_upon_intake,age_upon_intake,...,Masters_degree,Professional_school_degree,Doctorate_degree,Race_white,Race_black_African_American,Race_American_Indian_Alaskan_native,Race_Asian,Race_Native_Hawaiian_Pacific_Islander,Race-Other,Race_Two_or_more
0,69127,A293383,2018-03-18 18:17:00,March 2018,6005 Walnut Hills in Austin (TX),Stray,Sick,Cat,Neutered Male,15 years,...,1605,324,315,13892,6979,327,532,19,5472,1109
1,74120,A598657,2017-12-10 10:20:00,December 2017,2938 Pecan Springs Rd in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,...,1605,324,315,13892,6979,327,532,19,5472,1109
2,15329,A670563,2014-01-10 11:35:00,January 2014,5209 Cameron Rd in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,...,1605,324,315,13892,6979,327,532,19,5472,1109
3,47825,A674455,2014-03-13 12:22:00,March 2014,6403 Chimney Creek in Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,3 years,...,1605,324,315,13892,6979,327,532,19,5472,1109
4,46463,A679232,2014-05-17 16:23:00,May 2014,7227 E Hwy 290 in Austin (TX),Stray,Normal,Cat,Neutered Male,4 years,...,1605,324,315,13892,6979,327,532,19,5472,1109

In [ ]:
#cust_sell = mainDf[mainDf.Type == 'S']

cat_demo = animal_demo_df[animal_demo_df.animal_type_intake == "Cat"]
cat_demo.head()

In [ ]:
dog_demo = animal_demo_df[animal_demo_df.animal_type_intake == "Dog"]
dog_demo.head()

In [ ]:
dog_demo.to_csv("../Resources/dog_demo.csv")
cat_demo.to_csv("../Resources/cat_demo.csv")

In [ ]:
animal_demo_df.to_csv("../Resources/all_animals_demographics.csv")